<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="th.jpg">
</head>

<body>
    <h1>Hello <%=name %></h1>
    <% if (age>=18) { %>
        <h3> age: <%= age %></h3>
    <% } else { %>
        <h3>Sorry, Your age is under Below 18...</h3>
    <% } %>
    <p>my email is<strong><%= email %></strong></p>
</body>
</html>